#OSC
NET "clk"       LOC = "P84" | IOSTANDARD = LVCMOS33;

#UART
NET "rx" LOC = P79;
NET "tx" LOC = P81;
NET "reset" LOC = P102;

#Read
NET "rclk" LOC = P83;
NET "datout<0>" LOC = P78;
NET "datout<1>" LOC = P80;
NET "datout<2>" LOC = P82;
NET "datout<3>" LOC = P85;
NET "datout<4>" LOC = P88;
NET "datout<5>" LOC = P94;
NET "datout<6>" LOC = P98;
NET "datout<7>" LOC = P101;

#State
NET "full" LOC = P93;
NET "dato" LOC = P95;
NET "empy" LOC = P99;
